.app_container {
  height: 100vh;
}

.app_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page_text {
  display: flex;
  flex-wrap: wrap;
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
  animation: blurIn 1s ease;
}

.button_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 20px;
  width: 50%;
}

button {
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 2.5rem;
  border: 2.5px solid white;
}

/* make the buttons float up on hover */
button:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* make a keyframe for the .page_text to blur in */
@keyframes blurIn {
  0% {
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
